@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* font-family: 'Quicksand', sans-serif; */

/* ================================
GENERAL STYLES
=============================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #49A078;
    font-family: 'Quicksand', sans-serif;
}

a {
    cursor: pointer;
}

/* ================================
HEADER STYLES
=============================== */

header {
    text-align: center;
    padding-top: 2vh;
}

header a img {
    width: 80vw;
    object-fit: contain;

}

/* ================================
MAIN STYLES
=============================== */

.flags a img {
    width: 50vw;
    object-fit: contain;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 2vh;
}

.flags a img:hover {
    box-shadow: 0 0 10px white;
}

.flags {
    text-align: center;
}

.flags a:last-of-type {
    background-color: #9CC5A1;
    color: white;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    width: 50vw;
    padding: 2vh;
    font-size: 2rem;
    margin: 5vh auto;
}

.flags a:last-of-type:hover,
.login button:hover,
.registration button:hover,
.completedRegistration a:hover {
    background-color: #216869;
}

.login input {
    display: block;
    width: 80vw;
    border: none;
    font-size: 2rem;
    padding: 1vh 4vw;
    margin: 2vh auto;
    border-radius: 20px;
    color: gainsboro;
    font-family: 'Quicksand', sans-serif;
}

.login button {
    background-color: #9CC5A1;
    color: white;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    width: 30vw;
    padding: 1vh;
    font-size: 2rem;
    margin: 2vh auto;
    border: none;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

.registration {
    padding-bottom: 5vh;
}

.registration h3 {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 2vh 0;
}

.registration div label {
    display: block;
    color: white;
    font-size: 2rem;
    padding: 0 0 1vh 10vw;
}

.registration div input {
    display: block;
    width: 80vw;
    border: none;
    font-size: 2rem;
    padding: 1vh 4vw;
    margin: 0 auto 1vh auto;
    border-radius: 20px;
    color: gainsboro;
    font-family: 'Quicksand', sans-serif;
}

.registration button {
    background-color: #9CC5A1;
    color: white;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    width: 50vw;
    padding: 1vh;
    font-size: 2rem;
    margin: 2vh auto;
    border: none;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

.completedRegistration {
    color: white;
    text-align: center;
}

.completedRegistration h3 {
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    padding: 2vh;
}

.completedRegistration p {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    padding: 2vh 10vw;
}

.completedRegistration a {
    background-color: #9CC5A1;
    color: white;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    width: 50vw;
    padding: 1vh;
    font-size: 2rem;
    margin: 2vh auto;
    border: none;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}