@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* font-family: 'Quicksand', sans-serif; */

/* ================================
GENERAL STYLES
=============================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    background-color: #49A078;
    font-family: 'Quicksand', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* ================================
HEADER STYLES
=============================== */

header {
    text-align: center;
    padding-top: 2vh;
}

header a img {
    width: 80vw;
    object-fit: contain;

}

/* ================================
MAIN STYLES
=============================== */

.flags a img {
    width: 50vw;
    object-fit: contain;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 2vh;
}

.flags a img:hover {
    box-shadow: 0 0 10px white;
    transform: scale(1.05);
}

.flags {
    text-align: center;
}

.flags a:last-of-type {
    background-color: #9CC5A1;
    color: white;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    width: 50vw;
    padding: 2vh;
    font-size: 2rem;
    margin: 5vh auto;
     
}

.flags a:last-of-type:hover,
.login button:hover,
.registration button:hover,
.completedRegistration a:hover {
    background-color: #216869;
}

.login input {
    display: block;
    width: 80vw;
    border: none;
    font-size: 2rem;
    padding: 1vh 4vw;
    margin: 2vh auto;
    border-radius: 20px;
    color: #216869;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.login button {
    background-color: #9CC5A1;
    color: white;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    width: 30vw;
    padding: 1vh;
    font-size: 2rem;
    margin: 2vh auto;
    border: none;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

.registration {
    padding-bottom: 5vh;
}

.registration h3 {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 2vh 0;
}

.registration div label {
    display: block;
    color: white;
    font-size: 2rem;
    padding: 0 0 1vh 10vw;
}

.registration div input {
    display: block;
    width: 80vw;
    border: none;
    font-size: 2rem;
    padding: 1vh 4vw;
    margin: 0 auto 1vh auto;
    border-radius: 20px;
    color: #216869;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.registration button {
    background-color: #9CC5A1;
    color: white;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    width: 50vw;
    padding: 1vh;
    font-size: 2rem;
    margin: 2vh auto;
    border: none;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

.languages,
.departments {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1vh 10vw;
    gap: 2vh;
}

.languages p,
.departments p {
    color: white;
    grid-column: 1/3;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 2vh;
    border-top: 1px solid white;
}

.languages div,
.departments div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: flex-start;
    gap: 2vw;
}

.languages div label,
.departments div label {
    text-align: left;
    padding-left: 0;
    font-weight: 300;
}

.languages div input[type="checkbox"],
.departments div input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0 0;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 2rem;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.languages div input[type="checkbox"]::before,
.departments div input[type="checkbox"]::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #216869;
    margin: 0;
}

.languages div input[type="checkbox"]:checked::before,
.departments div input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.completedRegistration {
    color: white;
    text-align: center;
}

.completedRegistration h3 {
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    padding: 2vh;
}

.completedRegistration p {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    padding: 2vh 10vw;
}

.completedRegistration a {
    background-color: #9CC5A1;
    color: white;
    border-radius: 20px;
    display: block;
    text-decoration: none;
    width: 50vw;
    padding: 1vh;
    font-size: 2rem;
    margin: 2vh auto;
    border: none;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}

/* ================================
Volunteer Home Screen STYLES 
=============================== */

.volunteerinfo{
    display: flex;

}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  
/*
=============================== */